<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

       <security:http auto-config="true" entry-point-ref="loginUrlAuthenticationEntryPoint">
              <!-- 表示匿名用户可以访问-->
              <!--<security:intercept-url pattern="/go/logon" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
              <!--<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN"/>-->
              <!--<security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN"/>-->
              <!--<security:intercept-url pattern="/go/logon" access="true"/>-->
              <!--<security:intercept-url pattern="/resources/**" access="true"/>-->
              <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
              <!--<security:intercept-url pattern="/**" access="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"/>-->
              <!--login-page="/go/logon"-->
              <security:form-login login-processing-url="/login"
                                   username-parameter="username"
                                   password-parameter="password"
                                   authentication-success-handler-ref="authSuccess"/>
              <!--Could not verify the provided CSRF token because your session was not found.-->
              <security:csrf disabled="true" />
              <security:access-denied-handler error-page="/go/forbidden" />
              <security:logout logout-url="/logout" logout-success-url="/" />
              <!--Spring Security禁止嵌入iframe,为每个页面设置了请求头X-Frame-Options为deny,通过页面写meta标签并没有什么x用-->
              <security:headers>
                     <security:frame-options policy="SAMEORIGIN"/>
              </security:headers>
       </security:http>

       <bean id="loginUrlAuthenticationEntryPoint" class="cn.mrz.security.MyLoginUrlAuthenticationEntryPoint">
              <!--额4.x中修改了-->
              <!--<property name="loginFormUrl" value="/go/logon" />-->
              <constructor-arg name="loginFormUrl"  value="/go/logon" />
       </bean>
       <!-- 认证成功后的处理类-->
       <bean id="authSuccess" class="cn.mrz.security.AuthenticationSuccessHandlerImpl" />

       <!---->
       <bean id="myUserDetailService" class="cn.mrz.security.MyUserDetailsService" />
       <security:authentication-manager alias="authenticationManager">
              <security:authentication-provider user-service-ref="myUserDetailService">
                     <!--加密后的md5为小写-->
                     <security:password-encoder hash="md5"></security:password-encoder>
              </security:authentication-provider>
              <!--<security:authentication-provider>-->
                     <!--&lt;!&ndash; 基于Jdbc的UserDetailsService实现，JdbcDaoImpl &ndash;&gt;-->
                     <!--<security:jdbc-user-service data-source-ref="c3p0ds" />-->
              <!--</security:authentication-provider>-->
       </security:authentication-manager>
<!--<security:authentication-manager>
       <security:authentication-provider>
              <security:user-service>
                     <security:user name="user" password="user" authorities="ROLE_USER"/>
                     <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
              </security:user-service>
       </security:authentication-provider>
</security:authentication-manager>-->
</beans>